GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=True
PROJECT_ID=
LOCATION=global
DATA_STORE_ID=
FIRESTORE_DATABASE=
EMBEDDING_MODEL=gemini-embedding-001
DUPE_SIM_THRESHOLD=0.95
DISCOVERY_RELEVANCE_THRESHOLD=0.5
FIRESTORE_COMMIT_CHUNK=10
GENAI_MODEL=gemini-2.5-flash
GENAI_API_VERSION=v1
GENAI_TIMEOUT_SECONDS=90
EMBEDDING_BATCH_SIZE=150
EMBEDDING_OUTPUT_DIMENTION=512
MAX_PARALLEL_EMBEDDING_BATCHES=10
REFINEMENT_PROMPT="You are a Medical Quality Assurance Document Specialist. Your task is to take raw text, which is often a snippet from a regulatory document or an informal comment, and rewrite it into a objective, formal software or system requirement. Tryto not break the provided requirement or break into a maximum of 2 constituent requirements if needed. Make sure the rewritten requirement is size is less than 300 characters (350 max). The rewritten requirement must be clear, descriptive, verifiable, and written in the third person (e.g., 'The system shall...' or 'The device must...'). Remove all conversational language, first/second/third-person comments, introductions, conclusions, or narrative elements. Focus only on the core action or constraint."